In [19]:
import numpy as np
!pip install pandas

Requirement already satisfied: pandas in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: six>=1.5 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\Srijan\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [20]:
import pandas as pd

In [21]:
dict1={
    "name":["srijan","swetha","chandu"],
    "marks":[23,33,32],
    "city":["Telangana","chennai","andra pradesh"]
}

In [22]:
df=pd.DataFrame(dict1)#used to create a dict into excel

In [23]:
df

     name  marks           city
0  srijan     23      Telangana
1  swetha     33        chennai
2  chandu     32  andra pradesh

In [24]:
df["name"]#accessing separate columns

0    srijan
1    swetha
2    chandu
Name: name, dtype: object

In [25]:
#to remove the index
df.to_csv('friend.csv', index=False)#reading the csv file

In [26]:
df.describe()

           marks
count   3.000000
mean   29.333333
std     5.507571
min    23.000000
25%    27.500000
50%    32.000000
75%    32.500000
max    33.000000

In [27]:
df.head(2)

     name  marks       city
0  srijan     23  Telangana
1  swetha     33    chennai

In [28]:
df.tail(2)

     name  marks           city
1  swetha     33        chennai
2  chandu     32  andra pradesh

In [29]:
srij=pd.read_csv("C:\\Users\\Srijan\\OneDrive\\Desktop\\New folder (2)\\android-games.csv", index_col=False)#reading csv file
srij

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,1,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [30]:
srij.describe()

,rank,total ratings,average rating,growth (30 days),growth (60 days),price,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings
count,1730.000000,1.730000e+03,1730.000000,1730.000000,1730.000000,1730.000000,1.730000e+03,1.730000e+03,1.730000e+03,1.730000e+03,1.730000e+03
mean,50.386705,1.064332e+06,3.908092,321.735896,122.554971,0.010942,7.622315e+05,1.164366e+05,5.706307e+04,2.710336e+04,1.014950e+05
std,28.936742,3.429250e+06,0.290973,6018.914507,2253.891703,0.214987,2.538658e+06,3.021631e+05,1.495314e+05,8.154542e+04,4.083745e+05
min,1.000000,3.299300e+04,2.000000,0.000000,0.000000,0.000000,1.397500e+04,2.451000e+03,7.180000e+02,2.660000e+02,5.450000e+02
25%,25.000000,1.759992e+05,4.000000,0.100000,0.200000,0.000000,1.277300e+05,2.064300e+04,9.652500e+03,4.262250e+03,1.281200e+04
50%,50.000000,4.286065e+05,4.000000,0.500000,1.000000,0.000000,2.964340e+05,5.098050e+04,2.507800e+04,1.067550e+04,3.368600e+04
75%,75.000000,8.837970e+05,4.000000,1.700000,3.300000,0.000000,6.198358e+05,1.018140e+05,5.229500e+04,2.322875e+04,8.015725e+04
max,100.000000,8.627313e+07,4.000000,227105.700000,69441.400000,7.490000,6.354677e+07,5.404966e+06,3.158756e+06,2.122183e+06,1.249592e+07

In [31]:
srij.

SyntaxError: invalid syntax (269958597.py, line 1)

In [32]:
srij.sort_index(axis=0, ascending=False)#reverses the order of the dataframe which id row if axis 1 then columns reverses

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
0,1,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False

In [33]:
srij['rank'][0]="harry"#replacing the elemnt with name1

C:\Users\Srijan\AppData\Local\Temp\ipykernel_69528\274800774.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  srij['rank'][0]="harry"#replacing the elemnt with name1

In [34]:
srij

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,harry,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [35]:
srij.loc[0,'rank']=655 #replacing the elemnt in a index

In [36]:
srij

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [37]:
srij.drop(0)#removing a row

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
5,6,Call of Duty®: Mobile - Season 4: Spurned & Bu...,13572148,100.0 M,4,2.0,4.0,0.0,GAME ACTION,10501443,1274162,517273,268489,1010778,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [38]:
srij.drop("paid", axis=1)#removes the columns

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631

In [39]:
srij.loc[[1,2], :]

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False

In [40]:
srij.loc[(srij["average rating"]>1)]#data greater than parameter

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [41]:
srij.loc[2, "rank"]

3

In [42]:
srij.drop([0])#to drop rows defualt if colums take another arguements as axis=1

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
5,6,Call of Duty®: Mobile - Season 4: Spurned & Bu...,13572148,100.0 M,4,2.0,4.0,0.0,GAME ACTION,10501443,1274162,517273,268489,1010778,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1725,96,زوايا - لعبة ستحرك زوايا عقلك,112408,1.0 M,4,0.9,1.8,0.0,GAME WORD,101036,3607,3237,1229,3297,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [43]:
srij.drop([1725], inplace=True)#drops orginally

In [44]:
srij

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,95,4 Fotos 1 Palavra,115437,5.0 M,4,0.2,0.5,0.0,GAME WORD,85169,16622,6802,1848,4994,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [45]:
srij.dropna(how="all", axis=1)#drops nulls from columns

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,95,4 Fotos 1 Palavra,115437,5.0 M,4,0.2,0.5,0.0,GAME WORD,85169,16622,6802,1848,4994,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [46]:
srij.drop_duplicates(subset=['price'], keep=False)#removes duplicates from price

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
209,10,Minecraft,4100452,10.0 M,4,234.3,2.4,7.49,GAME ARCADE,3324435,317144,135048,65677,258146,True
477,60,Reigns,146718,500.0 k,4,0.1,0.1,2.99,GAME CARD,108356,25417,5887,2868,4187,True
923,98,Muse Dash,34140,100.0 k,4,768.5,6.7,1.49,GAME MUSIC,29210,2774,718,429,1007,True
1217,92,Evertale,311126,1.0 M,4,725.3,5.1,0.99,GAME ROLE PLAYING,222761,32884,15877,9298,30304,True

In [47]:
srij.info()#checks then nulls

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1729 entries, 0 to 1729
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              1729 non-null   object
 1   title             1729 non-null   object
 2   total ratings     1729 non-null   int64
 3   installs          1729 non-null   object
 4   average rating    1729 non-null   int64
 5   growth (30 days)  1729 non-null   float64
 6   growth (60 days)  1729 non-null   float64
 7   price             1729 non-null   float64
 8   category          1729 non-null   object
 9   5 star ratings    1729 non-null   int64
 10  4 star ratings    1729 non-null   int64
 11  3 star ratings    1729 non-null   int64
 12  2 star ratings    1729 non-null   int64
 13  1 star ratings    1729 non-null   int64
 14  paid              1729 non-null   bool
dtypes: bool(1), float64(3), int64(7), object(4)
memory usage: 204.3+ KB

In [48]:
srij.isnull()

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1726,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1727,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1728,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1729,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [49]:
srij.notnull()

,rank,title,total ratings,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1726,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1727,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1728,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1729,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [50]:
total=srij.price.sum()
print(total)

18.93

In [51]:
f=srij.growth(60days).sum()

SyntaxError: invalid syntax (2571105749.py, line 1)

In [52]:
srij.rename(columns={'total ratings':'total'}, inplace=True)

In [53]:
srij

,rank,title,total,installs,average rating,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,95,4 Fotos 1 Palavra,115437,5.0 M,4,0.2,0.5,0.0,GAME WORD,85169,16622,6802,1848,4994,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [54]:
srij.total.sum()

1841181813

In [55]:
srij.rename(columns={'average rating':'average_ratings'}, inplace=True)

In [56]:
srij

,rank,title,total,installs,average_ratings,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,95,4 Fotos 1 Palavra,115437,5.0 M,4,0.2,0.5,0.0,GAME WORD,85169,16622,6802,1848,4994,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False

In [57]:
srij.average_ratings.sum()#this helps in adding up the values of the columns and if any space found in renaming the srij.average rating use the above function

6757

In [58]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (3.3.0)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: missingno<0.6,>=0.4.2 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (0.5.1)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (1.9.1)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (1.23.2)
Requirement already satisfied: multimethod<1.9,>=1.4 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (1.8)
Requirement already satisfied: pandas!=1.4.0,<1.5,>1.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (1.4.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: joblib~=1.1.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (1.1.0)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (2.28.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (0.13.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: matplotlib<3.6,>=3.2 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (3.5.3)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (4.64.1)
Requirement already satisfied: pydantic<1.10,>=1.8.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (1.9.2)
Requirement already satisfied: seaborn<0.12,>=0.10.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: networkx>=2.4 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.8.7)
Requirement already satisfied: attrs>=19.3.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (22.1.0)
Requirement already satisfied: imagehash in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (9.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (2.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (4.37.1)
Requirement already satisfied: cycler>=0.10 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pandas!=1.4.0,<1.5,>1.1->pandas-profiling) (2022.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from pydantic<1.10,>=1.8.1->pandas-profiling) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.12)
Requirement already satisfied: patsy>=0.5.2 in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.5)
Requirement already satisfied: six in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\srijan\appdata\local\programs\python\python39\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.4.1)

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'C:\Users\Srijan\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
srij

In [ ]:
srij

In [ ]:
profile=ProfileReport(srij#report generation

In [ ]:
profile.to_file(output_file="srij.html")#to generate a report and creates a html file in new folder.when output file is in html.

In [63]:
srij

,rank,title,total,installs,average_ratings,growth (30 days),growth (60 days),price,category,5 star ratings,4 star ratings,3 star ratings,2 star ratings,1 star ratings,paid
0,655,Garena Free Fire- World Series,86273129,500.0 M,4,2.1,6.9,0.0,GAME ACTION,63546766,4949507,3158756,2122183,12495915,False
1,2,PUBG MOBILE - Traverse,37276732,500.0 M,4,1.8,3.6,0.0,GAME ACTION,28339753,2164478,1253185,809821,4709492,False
2,3,Mobile Legends: Bang Bang,26663595,100.0 M,4,1.5,3.2,0.0,GAME ACTION,18777988,1812094,1050600,713912,4308998,False
3,4,Brawl Stars,17971552,100.0 M,4,1.4,4.4,0.0,GAME ACTION,13018610,1552950,774012,406184,2219794,False
4,5,Sniper 3D: Fun Free Online FPS Shooting Game,14464235,500.0 M,4,0.8,1.5,0.0,GAME ACTION,9827328,2124154,1047741,380670,1084340,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1724,95,4 Fotos 1 Palavra,115437,5.0 M,4,0.2,0.5,0.0,GAME WORD,85169,16622,6802,1848,4994,False
1726,97,Bible Word Puzzle - Free Bible Word Games,111595,1.0 M,4,0.9,2.3,0.0,GAME WORD,88950,14856,4297,1385,2103,False
1727,98,Scrabble® GO - New Word Game,110723,10.0 M,4,0.9,1.9,0.0,GAME WORD,64184,18332,9385,6688,12132,False
1728,99,Word Nut: Word Puzzle Games & Crosswords,109530,5.0 M,4,1.9,4.1,0.0,GAME WORD,99987,4766,1469,953,2353,False
1729,100,Pinturillo 2,108917,10.0 M,3,1.1,2.5,0.0,GAME WORD,50813,16480,11825,6166,23631,False